.carousel img {
    height: 700px;
    width: 90%;
    margin-top: 2.5em;
    object-fit: cover;
    object-position: center;
    margin-left: 0.5em;
}

form {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    justify-content: center;
    align-items: center;
    display: flex;

}

form h4 {
    margin-right: 0.5em;
    font-family: helvetica;
}