.carousel img {
    height: 650px;
    width: 95%;
    margin-top: 1.5em;
    object-fit: cover;
    object-position: center;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

form {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

form h4 {
    margin-right: 0.5em;
    font-family: helvetica;
}

.container h2 {
    margin-top: 0.5em;
    font-family: helvetica;
}

button {
    margin: 0.5em;
}

