.carousel img {
    height: 650px;
    width: 95%;
    margin-top: 1.5em;
    object-fit: cover;
    object-position: center;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

form {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

form h4 {
    margin-right: 0.5em;
    font-family: helvetica;
}

.container h2 {
    margin-top: 0.5em;
    font-family: helvetica;
}

button {
    margin: 1.5em;
}

.form-group button {
    margin: 0.5em;
}

footer {
    margin-top: 2.5em;
    padding-top: 10px;
}

#carouselExampleControls {
    height: 550px;
    width: 95%;
}

.cold-open {
    margin: 2.5em;
    margin-top: 7em;
}

.cheddar {
    margin-bottom: 2.5em;
    padding-bottom: 50px;
}

.card-deck img {
   max-width:100%;
   width: 100%;
   height: auto;
   object-fit:cover;
        
}

.row {
    gap: 1em;
    margin: 1.5em;
}

.card-group {
    margin: 1.5em;
}

.card img {
    margin: 0.7em;
}